/* Basic reset and centering */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/backgrond.png'); 
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 84vw;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 3vw;
}

.image-container {
    flex: 1;
    background-image: url('../images/side-image.png'); 
    background-size: cover;
    background-position: center;
    height: 59VH;
    border-bottom: aquamarine solid 2px;
    border-top: solid aquamarine 2px;
    margin-right: 1.5vw;
}

.form-container {
    flex: 1;
    margin-left: 1.5vw;
    padding: 0;
    height: 59vh;
}

.hearder{
    background: linear-gradient(to bottom, teal, turquoise);
    width: 100%;
    height: 12vh;
    margin-top: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.322);
}

img{
    width: 10vw;
    border-radius: 50%;
    border: solid 4px turquoise;
    position: relative;
    top: -9vh;
    right: -13vw;
    box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.322);
    margin-bottom: -7.5vh;
}

input{
    border: none;
    border-bottom: solid turquoise 0.2rem;
    width: 30vw;
    border-radius: 0.1rem;
    font-size: 1.2rem;
    margin-left: 3.5vw;
    margin-bottom: 3vh;
}
label{
    font-size: 1.2rem;
    font-weight: bolder;
    color: teal;
    margin-left: 3.5vw;
    margin-bottom: 0.5vh;
}

button{
    font-size: 5vh;
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border: aquamarine solid 2px;
    border-radius: 3rem;
    background: linear-gradient(to top, teal, turquoise);
    margin-left: 13.5vw;
    cursor: pointer;
}
